/* ----------------WordCamp San Jose 2023 ----- */

/*---------- Autores -------

Rita Robles Loaiza
Brayan Brenes

*/

/* ------------------- Estilos Generales --------------- */

body {
	font-family: 'Albert Sans', sans-serif;
	font-size: .95em;
   
}


h1, h2, h3, h4 {
	font-family: 'Unbounded', cursive !important;
	font-weight: 900 !important;

}

h5, h6 {
	font-family: 'Unbounded', cursive;
	font-weight: 900;
}

p {
	font-family: 'Albert Sans', sans-serif;
	font-size: 16px;
}



/**---------Headers---------**/

/*--Small Header----**/

.small-header{
    height: 250px;
    width: 100%;
}

.page-titles{
    width: 1920px;
    height: 150px;
    background: linear-gradient(#0a84ff 0%, #bf5af2 100%);

}



/* ------------------- Pagina principal --------------- */
.main-menu{
    height: 150px;
    width: 100%;
}

/* ------------------- Footer --------------- */


footer{
    background-color: #F0F0F0 !important;
    
    
}











