/* ----------------WordCamp San Jose 2023 ----- */

/*---------- Autores -------

Rita Robles Loaiza
Brayan Brenes

*/

/* --------------------------------------------- Estilos Generales ----- */

h1, h2, h3, h4 {
	font-family: 'Unbounded', cursive, !important;
	font-weight: 800 !important;
}

h5, h6 {
	font-family: 'Unbounded', cursive;
	font-weight: 900;
}





