/* ----------------WordCamp San Jose 2023 ----- */

/*---------- Autores -------

Rita Robles Loaiza
Brayan Brenes

*/

/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Albert Sans', sans-serif;
	font-size: .95em;
}

h1, h2, h3, h4 {
	font-family: 'Unbounded', sans-serif !important;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

h5, h6 {
	font-family: 'Unbounded', sans-serif;
	font-weight: 900;
}


